@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000037}}
.sixtn-grid:after {
  content: ' ';
  display: table;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--1 {
  float: left;
  width: 6.25%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--1 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 1;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--2 {
  float: left;
  width: 12.5%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--2 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 2;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--3 {
  float: left;
  width: 18.75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--3 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 3;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--4 {
  float: left;
  width: 25%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--4 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 4;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--5 {
  float: left;
  width: 31.25%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--5 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 5;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--6 {
  float: left;
  width: 37.5%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--6 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 6;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--7 {
  float: left;
  width: 43.75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--7 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 7;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--8 {
  float: left;
  width: 50%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--8 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 8;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--9 {
  float: left;
  width: 56.25%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--9 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 9;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--10 {
  float: left;
  width: 62.5%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--10 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 10;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--11 {
  float: left;
  width: 68.75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--11 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 11;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--12 {
  float: left;
  width: 75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--12 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 12;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--13 {
  float: left;
  width: 81.25%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--13 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 13;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--14 {
  float: left;
  width: 87.5%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--14 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 14;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--15 {
  float: left;
  width: 93.75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--15 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 15;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000035}}
.sixtn-grid__col--16 {
  float: left;
  width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
  .sixtn-grid__col--16 {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_grid\.scss}line{font-family:\000039}}
    @supports (display: grid) {
      float: none;
      grid-column: span 16;
      width: 100%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_typography\.scss}line{font-family:\000035}}
h1 {
  font-size: 60px;
  margin: 0 0 60px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_typography\.scss}line{font-family:\0000318}}
  p {
    font-size: 21px;
    line-height: 1.4;
    margin: 30px 0; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/00_general\/_typography\.scss}line{font-family:\0000324}}
    p.large {
      font-size: 31.5px;
      font-style: italic; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-pmc-logo\.scss}line{font-family:\000037}}
      .o-pmc-logo {
        width: 147px;
        height: 30px;
        display: inline-block;
        background: transparent url('/static/img/pmc-logo.svg') no-repeat scroll center center;
        background-size: cover;
        font-size: 0px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-ra-logo\.scss}line{font-family:\000038}}
        .o-ra-logo {
          width: 70px;
          height: 30px;
          display: inline-block;
          background: transparent url('/static/img/ra-logo.svg') no-repeat scroll center center;
          background-size: cover;
          font-size: 0px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-button-info\.scss}line{font-family:\000039}}
          .o-button-info {
            border: 0;
            border-radius: 50%;
            background-color: rgba(255, 108, 75, 0.5);
            color: #ffffff;
            display: flex;
            height: 30px;
            width: 30px;
            justify-content: center;
            align-items: center; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-container\.scss}line{font-family:\0000310}}
            .o-container {
              position: relative; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-container\.scss}line{font-family:\0000312}}
              .o-container:after {
                content: '';
                display: table;
                width: 100%;
                clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-container\.scss}line{font-family:\0000320}}
.full-width-page .o-container {
  padding: 30px;
  flex: 1; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-transparent-overlay\.scss}line{font-family:\0000311}}
  .o-transparent-overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(255, 244, 232, 0.9);
    top: -100%;
    opacity: 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-transparent-overlay\.scss}line{font-family:\0000323}}
    .o-transparent-overlay__close {
      top: 30px;
      right: 30px;
      width: 60px;
      height: 60px;
      position: absolute; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-transparent-overlay\.scss}line{font-family:\0000331}}
      .o-transparent-overlay--show {
        top: 0;
        opacity: 1;
        transition: opacity 0.3s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-glossary-list\.scss}line{font-family:\0000312}}
.o-glossary-list {
  columns: 3; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-glossary-list\.scss}line{font-family:\0000314}}
  .o-glossary-list__term {
    font-weight: bold;
    display: inline; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-glossary-list\.scss}line{font-family:\0000318}}
    .o-glossary-list__description {
      color: #6d6d6d;
      display: inline;
      margin: 0; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-glossary-list\.scss}line{font-family:\0000322}}
      .o-glossary-list__description:after {
        content: ' ';
        display: table;
        position: relative;
        clear: both;
        margin-bottom: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-button-close\.scss}line{font-family:\0000313}}
.o-button-close {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000000;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  outline: 0 none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-button-close\.scss}line{font-family:\0000327}}
  .o-button-close:before {
    content: ' ';
    width: 14px;
    font-size: 0;
    line-height: 0;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 14px;
    left: 7px;
    transform-origin: 50% 50%;
    transform: rotate(45deg); }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-button-close\.scss}line{font-family:\0000341}}
    .o-button-close:after {
      content: ' ';
      width: 14px;
      font-size: 0;
      line-height: 0;
      height: 1px;
      background: #000000;
      position: absolute;
      top: 14px;
      left: 7px;
      transform-origin: 50% 50%;
      transform: rotate(-45deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-grey-link\.scss}line{font-family:\0000314}}
.o-grey-link {
  color: #6d6d6d;
  text-decoration: underline; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/01_atoms\/_o-strong-block\.scss}line{font-family:\0000315}}
  .o-strong-block {
    display: block;
    font-weight: bold; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000317}}
    .c-footer-links {
      float: right; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000319}}
      .c-footer-links__list {
        list-style: none none;
        padding: 0; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000323}}
        .c-footer-links__item {
          display: inline-block;
          margin-left: 30px;
          font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000331}}
footer .icon-facebook, footer .icon-twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  margin-right: 8px;
  text-indent: -1000px;
  overflow: hidden; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000345}}
  footer .icon-facebook {
    background-image: url('/static/img/facebook_footer.svg'); }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-footer-links\.scss}line{font-family:\0000349}}
    footer .icon-twitter {
      background-image: url('/static/img/twitter_footer.svg'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000318}}
.c-creative-commons {
  margin-left: auto; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000320}}
  .c-creative-commons:hover {
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000323}}
    .c-creative-commons > i {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 8px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      text-indent: -1000px;
      overflow: hidden; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000336}}
      .c-creative-commons__citation-by {
        background-image: url('/static/img/by.svg'); }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000340}}
        .c-creative-commons__creative-commons {
          background-image: url('/static/img/cc.svg'); }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-creative-commons\.scss}line{font-family:\0000343}}
          .c-creative-commons__non-commercial {
            background-image: url('/static/img/nc.svg'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-main-menu\.scss}line{font-family:\0000325}}
.c-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-main-menu\.scss}line{font-family:\0000333}}
  .c-main-menu__title {
    text-align: left;
    color: #6d6d6d;
    max-width: 570px;
    width: 100%;
    padding: 20px 0;
    display: inline-block; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-main-menu\.scss}line{font-family:\0000342}}
    .c-main-menu__list {
      list-style: none none inside;
      padding: 0;
      max-width: 570px;
      width: 100%;
      margin: 0; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-main-menu\.scss}line{font-family:\0000350}}
      .c-main-menu__item {
        padding: 20px 0;
        border-top: 2px solid #f1e8d8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-search\.scss}line{font-family:\0000320}}
.c-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-search\.scss}line{font-family:\0000326}}
  .c-search__input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #6d6d6d;
    background: transparent;
    font-size: 3rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-search\.scss}line{font-family:\0000334}}
    .c-search__input:focus {
      outline: 0 none;
      border-color: #ff6c4b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000321}}
.c-timeline {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 1;
  background-color: #fff4e8;
  bottom: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000329}}
  .c-timeline__decades {
    padding: 0;
    margin: 0;
    list-style: none none inside;
    display: flex;
    flex-direction: column;
    height: 84vh; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000339}}
    .c-timeline__decade {
      padding: 0 30px;
      color: #ff6c4b;
      font-weight: bold;
      background: #fff4e8;
      cursor: pointer;
      flex: 1; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000346}}
      .c-timeline__decade:hover > .c-timeline__years {
        left: 91px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000352}}
  .c-timeline__years {
    background-color: #fff4e8;
    display: inline-block;
    height: 100%;
    width: 112px;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    left: -10000px;
    top: 0;
    list-style: none none inside; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000364}}
    .c-timeline__year {
      display: block;
      width: 82px;
      height: 72px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000369}}
      .c-timeline__year-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: opacity 0.9s linear;
        background: #ff6c4b; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000380}}
        .c-timeline__year-link:hover {
          text-decoration: none;
          transition: background-color 0.3s linear;
          background: #000; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000384}}
          .c-timeline__year-link:hover .c-timeline__year-image {
            transition: filter 0.3s linear;
            filter: grayscale(0%); }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\0000390}}
  .c-timeline__year-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 1; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\00003119}}
    .c-timeline__year-label {
      text-decoration: none;
      color: #ffffff;
      position: relative;
      z-index: 11; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\00003127}}
.full-width-page .c-timeline {
  top: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-timeline\.scss}line{font-family:\00003131}}
  .full-width-page .c-timeline__decades, .full-width-page .c-timeline__years {
    padding: 30px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-cover\.scss}line{font-family:\0000327}}
.c-cover {
  position: relative;
  height: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-cover\.scss}line{font-family:\0000330}}
  .c-cover__link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-cover\.scss}line{font-family:\0000336}}
    .c-cover__image {
      object-fit: cover;
      width: 100%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-cover\.scss}line{font-family:\0000340}}
      .c-cover__title {
        position: absolute;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: #ffffff;
        font-size: 72px;
        text-align: center;
        max-width: 50%;
        margin: 0;
        filter: drop-shadow(0 0 8px black); }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-cover\.scss}line{font-family:\0000353}}
        .c-cover .o-button-info {
          position: absolute;
          bottom: 30px;
          right: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000323}}
.c-image {
  position: relative;
  width: 100%;
  line-height: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000328}}
  .c-image__picture {
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000332}}
    .c-image__zoom-btn {
      position: absolute;
      bottom: 30px;
      right: 30px;
      border: 0;
      width: 30px;
      height: 30px;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 3;
      outline: 0;
      font-size: 20px;
      cursor: pointer; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000352}}
      .c-image__caption {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: white;
        opacity: 0;
        transition: opacity 0.3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        z-index: 2; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000369}}
        .c-image:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s linear;
          z-index: 1; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000383}}
          .c-image:hover:after {
            transition: opacity 0.3s linear;
            opacity: 1; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-image\.scss}line{font-family:\0000387}}
            .c-image:hover .c-image__caption {
              transition: opacity 0.3s linear;
              opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-graph\.scss}line{font-family:\0000324}}
[data-graph-type] {
  display: none;
  width: 100%; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-graph\.scss}line{font-family:\0000329}}
  .c-graph {
    display: block;
    width: 100%;
    position: relative; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-graph\.scss}line{font-family:\0000333}}
    .c-graph__title {
      font-size: 30px;
      color: #6d6d6d;
      text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-graph\.scss}line{font-family:\0000343}}
.c3-shape {
  stroke: #000000 !important;
  stroke-width: 2px !important; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000326}}
  .c-article-actions {
    padding: 0;
    margin: 0 0 60px;
    line-height: 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000330}}
    .c-article-actions__item {
      display: inline-block;
      vertical-align: top;
      line-height: 0; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000336}}
      .c-article-actions .o-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-size: cover;
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        text-indent: -1000px;
        overflow: hidden; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000349}}
        .c-article-actions .o-icon-facebook {
          background-image: url('/static/img/facebook_header.svg'); }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000352}}
          .c-article-actions .o-icon-twitter {
            background-image: url('/static/img/twitter_header.svg'); }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000355}}
            .c-article-actions .o-icon-mail {
              background-image: url('/static/img/mail_header.svg'); }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000358}}
              .c-article-actions .o-icon-print {
                background-image: url('/static/img/printer_header.svg'); }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-article-actions\.scss}line{font-family:\0000361}}
                .c-article-actions .o-icon-cite {
                  background-image: url('/static/img/cite_header.svg'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000327}}
.c-index-subnav {
  border-bottom: 1px solid #f1e8d8;
  border-top: 1px solid #f1e8d8; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000331}}
  .c-index-subnav__type-list {
    list-style: none none inside;
    padding: 0;
    margin: 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000336}}
    .c-index-subnav__type {
      display: table-cell;
      border-right: 1px solid #f1e8d8; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000339}}
      .c-index-subnav__type:last-child {
        border-right: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000343}}
  .c-index-subnav__link {
    display: inline-block;
    padding: 15px 18px;
    color: #6d6d6d; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000347}}
    .c-index-subnav__link--active {
      color: #ff6c4b;
      border-bottom: 2px solid #ff6c4b; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000352}}
  .c-index-subnav__century-filter {
    padding: 0;
    margin: 0;
    list-style: none none inside;
    border-top: 1px solid #f1e8d8; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000358}}
    .c-index-subnav__century-filter-label {
      color: #6d6d6d;
      display: inline; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-subnav\.scss}line{font-family:\0000362}}
      .c-index-subnav__century-filter-item {
        display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-list\.scss}line{font-family:\0000328}}
.c-index-list {
  padding: 60px 0;
  columns: 3;
  list-style: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/02_molecules\/_c-index-list\.scss}line{font-family:\0000333}}
  .c-index-list__item {
    display: block;
    margin-bottom: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_footer\.scss}line{font-family:\0000330}}
footer {
  background-color: #ffffff;
  padding: 30px 0;
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_footer\.scss}line{font-family:\0000337}}
  footer > * {
    vertical-align: middle; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_footer\.scss}line{font-family:\0000342}}
    footer .o-ra-logo, footer .o-pmc-logo {
      margin-right: 28px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_footer\.scss}line{font-family:\0000347}}
.full-width-page footer {
  padding: 30px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000331}}
  .c-header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000341}}
    .c-header__message {
      display: inline-block;
      justify-self: center;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      color: #000000;
      text-decoration: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000352}}
      .c-header__search-trigger {
        color: #000000; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000354}}
        .c-header__search-trigger.icon-search {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-size: cover;
          background-color: transparent;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center center;
          background-image: url('/static/img/search.svg');
          margin: -5px 20px -5px 0;
          text-indent: -1000px;
          overflow: hidden; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000370}}
    .c-header__main-menu-trigger {
      color: #000000;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000376}}
.full-width-page .c-header {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #ffffff;
  padding: 50px;
  background-color: transparent; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000385}}
  .full-width-page .c-header__main-menu-trigger, .full-width-page .c-header__message {
    color: #ffffff;
    filter: drop-shadow(0 0 5px black); }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/03_organisms\/_header\.scss}line{font-family:\0000390}}
    .full-width-page .c-header__search-trigger.icon-search {
      background-image: url('/static/img/search_white.svg');
      filter: drop-shadow(0 0 5px black); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-index\.scss}line{font-family:\0000338}}
.c-index {
  box-sizing: border-box;
  width: 100%;
  padding: 0 60px 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-index\.scss}line{font-family:\0000342}}
  .c-index__title {
    color: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000340}}
.c-about {
  box-sizing: border-box;
  width: 75%;
  padding: 0 60px 0;
  margin-bottom: 120px;
  color: #6d6d6d; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000347}}
  .c-about h1 {
    color: #000000; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000351}}
    .c-about h2 {
      color: #ff6c4b;
      border-top: 2px solid #ff6c4b;
      border-bottom: 1px solid #6d6d6d;
      padding: 15px 0;
      margin: 30px 0; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000358}}
      .c-about h3 {
        font-weight: bold;
        color: #000000;
        margin: 0; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000362}}
        .c-about h3 + p {
          margin-top: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000367}}
  .c-about address {
    color: #6d6d6d;
    font-size: normal;
    font-style: normal; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000371}}
    .c-about address a {
      color: #6d6d6d; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000376}}
  .c-about__lede {
    color: #000000; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-about\.scss}line{font-family:\0000380}}
    .c-about__three-col {
      columns: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-article\.scss}line{font-family:\0000345}}
.c-article {
  box-sizing: border-box;
  width: 60%;
  padding: 0 60px 0;
  border-right: 2px solid #f1e8d8; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-article\.scss}line{font-family:\0000351}}
  .c-article__title {
    color: #000000; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-article\.scss}line{font-family:\0000355}}
    .c-article__author {
      color: #6d6d6d;
      margin: 0;
      font-style: italic; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-article\.scss}line{font-family:\0000361}}
      .c-article__actions {
        color: #ff6c4b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-article\.scss}line{font-family:\0000366}}
.c-article-side {
  box-sizing: border-box;
  width: 40%;
  padding: 0 60px 0;
  border-right: 2px solid #f1e8d8; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/04_templates\/_c-glossary\.scss}line{font-family:\0000336}}
  .c-glossary {
    width: 100%;
    padding: 0 0 120px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000344}}
    body {
      font-family: 'Exo', sans-serif;
      text-rendering: optimizeSpeed;
      margin: 0;
      padding: 0 30px;
      background-color: #ffffff; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000350}}
      body > .o-container {
        background-color: #fff4e8; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000353}}
        body.full-width-page {
          background-color: #fff4e8;
          padding: 0;
          display: flex;
          flex-direction: column;
          width: 100vw;
          height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000364}}
a {
  color: #ff6c4b;
  text-decoration: none;
  cursor: pointer; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000368}}
  a:hover {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000373}}
main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 80px 0; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\.meszaros\/new-fesk\/pmc-ra-exhibition-site\/app\/static\/scss\/styles\.scss}line{font-family:\0000380}}
  .full-width-page main {
    padding: 0; }
